@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 18px;
  overflow-wrap: anywhere;
}

body {
  background-color: rgba(62, 64, 54, 0.062);
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

li > .active {
  color: white !important;
}

.LoginPage {
  max-width: 500px;
  margin: 100px auto;
}

.SignUpPage {
  max-width: 500px;
  margin: 100px auto;
}

form {
  width: 80%;
  margin: auto auto;
}

.admin-menu {
  background-color: rgb(33, 37, 41);
  color: whitesmoke;
}

.shadow-lg {
  /* border: 2px solid black; */
}

.list-group-item {
  border: 1px solid wheat;
  height: 100%;
  padding: 20px;
}

.user-detail {
  display: flex;
}

.detail {
  width: 300px;
}

.user-container {
  max-width: fit-content;
}
